* {
  margin: 0;
}
.box {
  height: 100px;
  width: 200px;
  border: 2px solid black;
  margin: 0 0 20px 0;
  padding: 40px 0 0 0;
  /* justify-content: center; */
  /* box-sizing: border-box; */
}
#org {
  background-color: orange;
}
#wht {
  background-color: white;
}
#grn {
  background-color: green;
}
