.ripple-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ripple-effect {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(2);
  opacity: 1;
  transition: all 0.5s ease-out;
  pointer-events: none;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(5);
    opacity: 0.375;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.ripple-effect:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-out;
}

.ripple-effect:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(4);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition: all 0.5s ease-out;
}

.ripple-effect.active {
  transform: scale(5);
  opacity: 1;
}

.ripple-effect.active:before {
  transform: scale(6);
  opacity: 1;
}

.ripple-effect.active:after {
  width: 200%;
  height: 200%;
  opacity: 1;
}
